In [22]:
print(type(11))
print(int(1.1))
x = 108.5
print(int(x))
print(bool(0))
y = x * 10
print(type(y))
print(type(int(y)))
z = x // 100
print(type(z))
print(z)

<class 'int'>
1
108
False
<class 'float'>
<class 'int'>
<class 'float'>
1.0

In [35]:
name = "Peter Parker"
print(name[1])
print(name[-1])
print(name[0:6])
print(name[::2])
print(name[0:8:2])
name = "Spiderman, " + name
print(name)

A = "Hello, Peter"
B = A.upper()
C = A.replace("Hello", "Goodbye")
D = A.find('Pete')
E = A.find('1231')

print(B)
print(C)
print(D)
print(E)

e
r
Peter
PtrPre
PtrP
Spiderman, Peter Parker
HELLO, PETER
Goodbye, Peter
7
-1

In [38]:
name = "Nat"
future_me = "Senior Data engineer"
salary = 100000

print(f"Hi! My name is {name}. I am 25 years old and I'm working at Banking and Consulting company as a {future_me} with the salary of {salary} and a healthy life.")
print("Hi! My name is {}. I am 25 years old and I'm working at Banking and Consulting company as a {} with the salary of {} and a healthy life.".format(name, future_me, salary))
print("Hi! My name is %s. I am 25 years old and I'm working at Banking and Consulting company as a %s with the salary of %d and a healthy life." % (name, future_me, salary))

raw_string = r"C:\new_folder\file.txt"
raw_string2 = r"\new_folder\file.txt"
print("Raw String:", raw_string+raw_string2)

Hi! My name is Nat. I am 25 years old and I'm working at Banking and Consulting company as a Senior Data engineer with the salary of 100000 and a healthy life.
Hi! My name is Nat. I am 25 years old and I'm working at Banking and Consulting company as a Senior Data engineer with the salary of 100000 and a healthy life.
Hi! My name is Nat. I am 25 years old and I'm working at Banking and Consulting company as a Senior Data engineer with the salary of 100000 and a healthy life.
Raw String: C:\new_folder\file.txt\new_folder\file.txt

In [58]:
x = (4,2,8,4,7,2,5)
sorted_x = sorted(x)

In [71]:
# A = [1]
# A.append(2)
# A.append(3)
# A.append(4)


# B=A[:]
# print(A)
# print(B)

A=["hard rock",10,1.2]
del(A[1])
A

['hard rock', 1.2]

In [61]:
a = {"a":1,"b":2}
a.keys()

dict_keys(['a', 'b'])

In [5]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i=0
while PlayListRatings[i] >= 6:
    print(PlayListRatings[i])
    i+=1

10
9.5
10
8
7.5

In [15]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i=0

while squares[i] == 'orange':
    new_squares.insert( i,squares[i] )
    i+=1
print (new_squares)

['orange', 'orange']

In [19]:
table= [6,7]
for tab in table: 
    for i in range(1,13):
        print(i * tab)

6
12
18
24
30
36
42
48
54
60
66
72
7
14
21
28
35
42
49
56
63
70
77
84

In [23]:
Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]
i = 0
print("List of 7 letters animals name:")
while i < len(Animals):
      if len(Animals[i]) == 7:
          print(Animals[i])
          
      i+=1

List of 7 letters animals name:
giraffe
gorilla
parrots

In [26]:
for x in enumerate(['A', 'B', 'C']):
    print(x )

(0, 'A')
(1, 'B')
(2, 'C')

In [28]:
for i, x in enumerate(['A', 'B', 'C']):
    print(i, x)

0 A
1 B
2 C

In [30]:
# Write your code below and press Shift+Enter to execute
def freq(string, passkey):
    words = []

    words = string.split()

    i = 0
    for word in words :
        if word == passkey:
            i+=1
    print(f"Total {passkey} in the string is {i}")
freq("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went Everywhere that Mary went The lamb was sure to go", "little")

Total little in the string is 3

In [12]:
L=[1,3,2]
L.sort()

print(L)

[1, 2, 3]

In [2]:
a = 1
try:
    b = int(input("Please enter a number to divide a: "))
    a = a / b
    print("Success a =", a)
except:
    print("There was an error")

There was an error

In [3]:
class Graph():
    def __init__(self, id):
        self.id = id
        self.id = 80


val = Graph(200)
print(val.id)

80

In [8]:
d = {a:'sa'}
d[a]

'sa'

In [10]:
class TextAnalyzer(object):
    
    def __init__(self, text):
        # Remove punctuation
        formattext = text.replace('!', '').replace(',', '').replace('.', '').replace('?', '')
        # Make text lowercase
        formattext = formattext.lower()

        self.fmt = formattext
        
    def freqAll(self):        
        # Split text into words
        words = self.fmt.split()
        
        # Create dictionary to count word frequencies
        freq = {}
        
        # Iterate through the words and count frequencies
        for word in words:
            if word in freq:
                freq[word] += 1  # Increment the count if the word exists
            else:
                freq[word] = 1  # Add the word to the dictionary with count 1
        
        return freq

# Test the TextAnalyzer
givenstring = "Lorem ipsum dolor! diam amet, consetetur Lorem magna. sed diam nonumy eirmod tempor. diam et labore? et diam magna. et diam amet."

Test = TextAnalyzer(givenstring)
print(Test.freqAll())

{'lorem': 2, 'ipsum': 1, 'dolor': 1, 'diam': 5, 'amet': 2, 'consetetur': 1, 'magna': 2, 'sed': 1, 'nonumy': 1, 'eirmod': 1, 'tempor': 1, 'et': 3, 'labore': 1}

In [13]:
for i, x in enumerate(['A', 'B', 'C']): 
    print(i, 2 * x)

0 AA
1 BB
2 CC

In [15]:
sum((1,2))

3

In [16]:
# Uncomment these if working locally, else let the following code cell run.

import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

# Download Example file
!wget Example1.txt https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [17]:
from pyodide.http import pyfetch

import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt"

async def download(url, filename):

    response = await pyfetch(url)

    if response.status == 200:

        with open(filename, "wb") as f:

            f.write(await response.bytes())

await download(filename, "example1.txt")

print("done")

ModuleNotFoundError: No module named 'pyodide'

In [21]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\z004zuep\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\z004zuep\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\z004zuep\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\z004zuep\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\z004zuep\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\z004zuep\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [24]:

import pandas as pd
#Define a dictionary 'x'

dep = {'Student': ['David','Samuel', 'Terry', 'Evan'], 'Age': [27, 24, 22, 32], 
       'Country': ['UK', 'Canada', 'China', 'USA'], 
       'Course': ['Python', 'Data Structure', 'ML', 'Web dev'], 
       'Marks':[85, 72, 89, 76]}

#casting the dictionary to a DataFrame
df1 = pd.DataFrame(dep)
df1

  Student  Age Country          Course  Marks
0   David   27      UK          Python     85
1  Samuel   24  Canada  Data Structure     72
2   Terry   22   China              ML     89
3    Evan   32     USA         Web dev     76

In [26]:
# Access the value on the first row and the first column

df1.iloc[0, 0]

'David'

In [27]:
df1.iloc[0,2]

'UK'

In [29]:
df1.loc[0, 'Course']

'Python'

In [33]:
df2=df1
df2=df2.set_index("Student")
df2.head()

         Age Country          Course  Marks
Student
David     27      UK          Python     85
Samuel    24  Canada  Data Structure     72
Terry     22   China              ML     89
Evan      32     USA         Web dev     76

In [34]:
df2.loc['Evan', 'Country']

'USA'

In [35]:
df1.iloc[0:2, 0:3]

  Student  Age Country
0   David   27      UK
1  Samuel   24  Canada

In [38]:
df1.loc[0:2,'Age':'Course']

   Age Country          Course
0   27      UK          Python
1   24  Canada  Data Structure
2   22   China              ML